[submodule "submodules/srs"]
	path = submodules/srs
	url = https://github.com/spendright-scrapers/srs.git
[submodule "submodules/titlecase"]
	path = submodules/titlecase
	url = https://github.com/ppannuto/python-titlecase.git
